<form class="form" action="<%= session_url %>" method="post">
  <h1>Sign In</h1>

  <% if flash[:errors] %>
    <%= render_errors %>
  <% end %>

  <%= form_auth %>

  <fieldset>
    <input class="text-input"
           type="email"
           name="user[email]"
           value="<%= @user.email %>"
           placeholder="Email">
  </fieldset>

  <fieldset>
    <input class="text-input"
           type="password"
           name="user[password]"
           value="<%= @user.password %>"
           placeholder="Password">
  </fieldset>

  <div class="button-wrapper">
    <button>Sign In</button>
  </div>
</form>
