<form class="form" action="<%= users_url %>" method="post">
  <h1>Register</h1>

  <% if flash[:errors] %>
    <%= render_errors %>

    <script>
      $(function () {
        var errorFields, field;
        errorFields = <%= @user.errors.keys.to_json.html_safe %>;

        errorFields.forEach(function (fieldName, index) {
          if (fieldName === "password_digest") fieldName = "password";
          field = "#user_" + fieldName;
          $(field).addClass("error");

          if (index === 0) $(field).focus().select();
        });
      });
    </script>
  <% end %>

  <%= form_auth %>

  <fieldset>
    <input id="user_first_name"
           class="text-input"
           type="text"
           name="user[first_name]"
           value="<%= @user.first_name %>"
           placeholder="First Name">
  </fieldset>

  <fieldset>
    <input id="user_last_name"
           class="text-input"
           type="text"
           name="user[last_name]"
           value="<%= @user.last_name %>"
           placeholder="Last Name">
  </fieldset>

  <fieldset>
    <input id="user_email"
           class="text-input"
           type="email"
           name="user[email]"
           value="<%= @user.email %>"
           placeholder="Email">
  </fieldset>

  <fieldset>
    <input id="user_password"
           class="text-input"
           type="password"
           name="user[password]"
           value="<%= @user.password %>"
           placeholder="Password">
  </fieldset>

  <fieldset>
    <input id="user_password_confirmation"
           class="text-input"
           type="password"
           name="user[password_confirmation]"
           value="<%= @user.password_confirmation %>"
           placeholder="Confirm Password">
  </fieldset>

  <div class="button-wrapper">
    <button>Create Account</button>
  </div>
</form>