<article>
  <fieldset>
    <input type="text"
           name="experience[title]"
           value="<%= experience.title %>"
           placeholder="Job Title">
  </fieldset>

  <fieldset>
    <input id="company"
           type="text"
           value="<%= experience.company && experience.company.name %>"
           placeholder="Company">
    <input type="hidden"
           name="experience[company_id]"
           value="<%= experience.company_id %>">
  </fieldset>

  <fieldset class="with-label">
    <label for="experience_start_date">Start Date</label>
    <%= date_select(
      "experience",
      "start_date",
      start_year: 1990,
      end_year: Date.current.year,
      add_month_numbers: true,
      discard_day: true,
      prompt: true
    ) %>
  </fieldset>

  <fieldset class="with-label">
    <label for="experience_end_date">
      End Date
      <small>(Leave this field blank if you currently work here!)</small>
    </label>
    <%= date_select(
      "experience",
      "end_date",
      start_year: 1990,
      end_year: Date.current.year,
      add_month_numbers: true,
      discard_day: true,
      prompt: true
    ) %>
  </fieldset>

  <div class="fieldset-section">
    <label>Job Bullet Points</label>
  </div>
</article>

<script>
  $(function () {
    new FiveSeconds.Views.ListItemView({
      el: $(".fieldset-section")
    }).addItem().times(3);
  });
</script>
