<article>
  <fieldset>
    <input class="text-input"
           type="text"
           name="experience[title]"
           value="<%= experience.title %>"
           placeholder="Job Title">
  </fieldset>

  <fieldset>
    <input class="text-input"
           id="company"
           type="text"
           name="company[name]"
           value="<%= experience.company && experience.company.name %>"
           placeholder="Company">
    <input type="hidden"
           name="experience[company_id]"
           value="<%= experience.company_id %>">
  </fieldset>

  <fieldset class="with-label">
    <label class="inline" for="experience_current">I currently work here</label>
    <input id="experience_current"
           class="fancy-checkbox"
           type="checkbox"
           <%= "checked" if experience.current? %>>
  </fieldset>

  <fieldset class="with-label">
    <label for="experience_start_date">Start Date</label>
    <%= exp_date_select("start_date", experience.start_date) %>
  </fieldset>

  <fieldset id="end_date" class="with-label<%= " hide" if experience.current? %>">
    <label for="experience_end_date">End Date</label>
    <%= exp_date_select("end_date", experience.end_date) %>
  </fieldset>

  <fieldset>
    <textarea name="experience[summary]"
              placeholder="All the amazing things I did!"
              class="text-input"><%= experience.summary %></textarea>
  </fieldset>
</article>
