<fieldset>
  <textarea
    name="experience[<%= expCounter %>][items][<%= itemCounter %>][description]"
    placeholder="<%= question %>"><%= description %></textarea>

  <a id="item-<%= itemCounter %>" href="#">Add more items</a>
</fieldset>