<section class="resume">
  <header>
    <h1><%= current_user.full_name %></h1>
    <h2 class="status-select">
      <select name="user[status]">
        <option></option>
        <% User.statuses_list.each do |status| %>
          <option value="<%= status %>"
                  <%= "selected" if current_user.status == status %>>
            <%= status %>
          </option>
        <% end %>
      </select>
    </h2>
  </header>

  <ul class="experiences">
    <% current_user.experiences.each do |exp| %>
      <li>
        <%= render exp %>

        <a class="edit" href="#exp-<%= exp.id %>">Edit</a>

        <form id="exp-<%= exp.id %>"
              class="form wide hide"
              action="<%= experience_url(exp) %>"
              method="post">
          <%= form_auth %>
          <%= put_action %>

          <%= render "experiences/form", experience: exp %>

          <button class="update-exp">Update</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<%= javascript_include_tag "experienceForm" %>

<script>
  $(function () {
    $(".edit").on("click", function (e) {
      var expForm;

      e.preventDefault();
      expForm = $(this).attr("href");
      $(expForm).toggleClass("hide");
    });
  });
</script>
