<!DOCTYPE html>
<html>
<head>
  <title>FiveSeconds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main>
  <nav class="group">
    <a class="logo" href="<%= root_url %>">5 Seconds</a>

    <ul class="nav-links group">
      <li><a href="#">Search</a></li>

      <% if signed_in? %>
        <li><a href="#">Resume</a></li>
        <li>
          <form class="nav-link" action="<%= session_url %>" method="post">
            <%= form_auth %>
            <input type="hidden" name="_method" value="delete">
            <button>Sign Out</button>
          </form>
        </li>
      <% else %>
        <li><a href="<%= new_session_url %>">Sign In</a></li>
        <li><a href="<%= new_user_url %>">Create an Account</a></li>
      <% end %>
    </ul>
  </nav>

  <section class="main-section">
    <%= yield %>
  </section>
</main>

</body>
</html>
